{% extends"./layout.html"%}
{% block body %}

{% block title %}{{ user['firstname'] }}| Add Report {% endblock %}
 

  <!-- Content Wrapper. Contains page content -->

    {% include 'includes/_employeenavbar.html' %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        {% from "includes/_formhelpers.html" import render_field %}
        <form action="" method="POST">
            <div class="container container-secondary">
                {{render_field(form.title, class="form-control")}}
                {{render_field(form.body, class="form-control", id = "editor")}}
                {{render_field(form.file, class="form-control")}}
                <!-- <input type="file" placeholder="file" name="file" value="File">  -->
                <div class="action-buttons">
                  <input type="submit" class="btn btn-info border-info  my-sm-2" value="Send">
                  <a href="#/draft"class="btn border-secondary ">Save as Draft</a>
                  <a href="/dashboard"class="btn border-secondary ">Discard</a>
                  
                </div>
        
            </div>
            <p></p>
        </form>

      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content of employeenavbar -->
  </div>

{% endblock %}







