{% extends"./layout.html"%}
{% block body %}

{% block title %}{{ user['firstname'] }} Dashboard {% endblock %}


  <!-- Content Wrapper. Contains page content -->

    {% include 'includes/_employeenavbar.html' %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="card-body p-0">
            <p>Welcome back   <strong>{{ user['firstname']}} {{ user['lastname']}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="card-body p-0">
            <p>Number of Reports sent:    <strong>{{ lens  }}</strong></p>
          </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>


    <!-- /.content -->
  </div>

  {% endblock %}

